<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Features</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box text-center align-items-center">
                    <!-- <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i> -->
                    <img src="../../img/features/CurvedPlayer.svg" class="img-responsive center-block features_pic_size">
                    <h3>Curved Player</h3>
                    <p class="text-muted">A huge curved screen built by spatial computing.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="../../img/features/360Player.svg" class="img-responsive center-block features_pic_size">
                    <h3>360 Player</h3>
                    <p class="text-muted">A 360 player for VR videos.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img src="../../img/features/MirrorPlay.svg" class="img-responsive center-block features_pic_size">
                    <h3>Mirror Play</h3>
                    <p class="text-muted">Comming soon.</p>
                </div>
            </div>
        </div>
    </div>
</section>
